body {
    font-family: "Playwrite DE Grund", serif;
}

.signUpImg {
    background: url('../assets/background images/question mark.jpg');
    background-size: cover;
}

.signUpText {
    background-color: #c9bbb5;
}